name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy-to-github-pages:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Run tests
      run: dotnet test MotoNomad.Tests/MotoNomad.Tests.csproj --configuration Release --verbosity normal
      continue-on-error: false

    - name: Publish Blazor WASM
      run: dotnet publish MotoNomad.App/MotoNomad.App.csproj -c Release -o release --nologo

    - name: Use Production appsettings
      run: |
        if [ -f release/wwwroot/appsettings.Production.json ]; then
          cp release/wwwroot/appsettings.Production.json release/wwwroot/appsettings.json
        fi

    - name: Change base-tag in index.html
      run: sed -i 's/<base href="\/" \/>/<base href="\/10xMotoNomad\/" \/>/g' release/wwwroot/index.html

    - name: Create 404.html for SPA routing
      run: cp release/wwwroot/index.html release/wwwroot/404.html

    - name: Add .nojekyll file
      run: touch release/wwwroot/.nojekyll

    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: release/wwwroot
        branch: gh-pages
        clean: true